{% extends 'base.html.twig' %}

{% block content %}
    <div id="wrapper">
        <div id="container">
            <h1>Admins Only</h1>

            {% if content is defined %}
            <ul>
                {% for c in content %}
                <li>
                    Moderate : <a href="{{ path('admin_moderate', { id: c.id }) }}">{{ c.id }}</a> ::
                    Delete : <a href="{{ path('admin_delete', { id: c.id }) }}">{{ c.id }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}

            {% if text is defined %}
            <p>{{ text }}</p>
            {% endif %}

            <a href="{{ path('admin_home') }}">Back to Admin menu</a>
        </div>
    </div>
{% endblock %}